@{
    Layout = "";
}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>

<h2>Login</h2>
<script>
    @* $(document).ready(function () {
        


    }); *@
    
    function forget() {
        const em = $("#txtFEmail").val();

        let result = '';
        var length = 50;
        const characters = 'ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789';
        const charactersLength = characters.length;
        let counter = 0;
        while (counter < length) {
            result += characters.charAt(Math.floor(Math.random() * charactersLength));
            counter += 1;
        }

        localStorage.setItem("email", em);
        localStorage.setItem("hash", result);

        var setting = "";

        setting = {
            "url": "http://localhost:5170/api/Email/sendemail?emailid=" + em + "&body=" + result,
            "method": "POST",

        };
        $.ajax(setting).done(function (response) {


            alert("Check your email");
            window.location = "/User/forget";


        });


    }
    function Login() {
        var Contact = {
            email: $("#LEmail").val(),
            password: $("#LPassword").val()

        }
        console.log(Contact);
        var setting = "";

        console.log(Contact);
        setting = {
            "url": "https://localhost:7196/api/User/login/",
            "method": "POST",
            "timeout": 0,
            "headers": {
                "Content-Type": "application/json"
            },
            "data": JSON.stringify(Contact),
        };
        console.log(setting);
        $.ajax(setting).done(function (response) {
            alert("successfully Login");

        });
    }

    function Register(){
        var Contact ={
            username : $("#username").val(),
            email : $("#email").val(),
            password : $("#password").val(),
            gender : $('[name="gender"]:radio:checked').val(),
            address : $("#address").val(),
            city : $("#city option:selected").val(),
            image : "aaa",
            contact : 1231231231,
            roleid : 1,
      
            degree : $("#degree").val()


            
        }
        console.log(Contact);
        var setting="";
       
            console.log(Contact);
            setting={
                "url":"https://localhost:7196/api/User/Register",
                "method":"POST",
                "timeout":0,
                "headers":{
                    "Content-Type":"application/json"
                },
                "data":JSON.stringify(Contact),

            };
        console.log(setting);
        $.ajax(setting).done(function(response){
            if(response == false){
                alert("User Already Exist");
                location.reload();
            }
            else{
                alert("successfully Registered");
                 window.location = "/User/Login"; 
            }
            
             
        });
    }
</script>
<html>
<link href="~/css/Login.css" rel="stylesheet" />
<div class="container" id="container">
    
		<div class="form-container sign-up-container">
			<form>
				<h1>Create Account</h1>
				@* <div class="social-container">
					<a href="#" class="social"><i class="fab fa-facebook-f"></i></a>
					<a href="#" class="social"><i class="fab fa-google-plus-g"></i></a>
					<a href="#" class="social"><i class="fab fa-linkedin-in"></i></a>
				</div> *@
				<span>or use your email for registration</span>
				<input type="hidden" placeholder="userid" id="userid" />	
				<input type="text" placeholder="User Name" id="username" />
				<input type="email" placeholder="Email" id="email" />
				<input type="password" placeholder="Password" id="password" />
				<input type="password" placeholder=" Re-Enter Password" id="cpassword" />
				<div style="display: flex; display: -webkit-flex; ">
					<label style=" padding: 12px 15px;">Male</label><input type="radio" value="Male" name="gender" id="gender" />
					<label style=" padding: 12px 15px;">Female</label><input type="radio" value="Female" name="gender"	id="gender" />
					<label style=" padding: 12px 15px;">Others</label><input type="radio" value="Others" name="gender"	id="gender" />
				</div>
				<input type="text" placeholder="Address" id="address" />
				<select name="city" class="" id="city">
					<option value="">Select City</option>
					<option value="Ahmedabad">Ahmedabad</option>
					<option value="Anand">Anand</option>
					<option value="Surat">Surat</option>
					<option value="Vadodara">Vadodara</option>
					<option value="Mehsana">Mehsana</option>
				</select>
				<!-- <input type="text" placeholder="User Name" id="c_username" /> -->
				<input type="tel" placeholder="Contact" id="contact"/>
				<select name="roleid" class="" id="role">
					<option value="">Select Role</option>
					<option value="1">JobProvider</option>
					<option value="2">JobSeeker</option>
				</select>
				<!-- <input type="number" placeholder="Roleid" id="c_roleid" /> -->
				<input type="text" placeholder="Degree" id="degree" />
				<button onclick="Register()">Sign Up</button>
			</form>
		</div>
       
        
		<div class="form-container sign-in-container">
			<form action="#">
				<h1>Sign in</h1>
				@* <div class="social-container">
					<a href="#" class="social"><i class="fab fa-facebook-f"></i></a>
					<a href="#" class="social"><i class="fab fa-google-plus-g"></i></a>
					<a href="#" class="social"><i class="fab fa-linkedin-in"></i></a>
				</div> *@
				<span>or use your account</span>
				<input id="LEmail" type="email" placeholder="Email" />
				<input id="LPassword" type="password" placeholder="Password" />
				<a href="#">Forgot your password?</a>
				<button onclick="Login()">Sign In</button>
			</form>
		</div>
        </section>
		<div class="overlay-container">
			<div class="overlay">
				<div class="overlay-panel overlay-left">
					<h1>Welcome Back!</h1>
					<p>To keep connected with us please login with your personal info</p>
					<button class="ghost" id="signIn">Sign In</button>
				</div>
				<div class="overlay-panel overlay-right">
					<h1>Hello, Friend!</h1>
					<p>Enter your personal details and start journey with us</p>
					<button class="ghost" id="signUp">Sign Up</button>
				</div>
			</div>
		</div>
	</div>
<script>
    const signUpButton = document.getElementById('signUp');
const signInButton = document.getElementById('signIn');
const container = document.getElementById('container');

signUpButton.addEventListener('click', () => {
	container.classList.add("right-panel-active");
});

signInButton.addEventListener('click', () => {
	container.classList.remove("right-panel-active");
});

</script>

</html>